e/src/main/webapp/wsdl/consultaconta_schema1.xsd

<xs:schema xmlns:tns="http://trapp.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://trapp.com.br/" version="1.0">

  <xs:element name="consulta" type="tns:consulta"/>

  <xs:element name="consultaResponse" type="tns:consultaResponse"/>

  <xs:complexType name="consulta">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="consultaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
