e/src/main/webapp/wsdl/registraponto_schema1.xsd

<xs:schema xmlns:tns="http://trapp.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://trapp.com.br/" version="1.0">

  <xs:element name="registra" type="tns:registra"/>

  <xs:element name="registraResponse" type="tns:registraResponse"/>

  <xs:complexType name="registra">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="registraResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
